body, html {
    font-family: Aeonik;
    background-color: #222;   
    height: fit-content;
    transition: background-color 1s ease, color 1s ease, border 1s ease; 
    z-index: 8000;
} 

/* CORE PAGE CSS */
/* FONTS +S CROLL BAR */
/* Regular */
@font-face {
    font-family: "Aeonik";
    src: url("fonts/Aeonik-Regular.woff2") format("woff2"),
      url("fonts/Aeonik-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
  
  /* Black */
  @font-face {
    font-family: "Aeonik";
    src: url("fonts/Aeonik-Black.woff2") format("woff2"),
      url("fonts/Aeonik-Black.woff") format("woff");
    font-weight: 800;
    font-style: black;
  }
  
  /*Black Italic */
  @font-face {
    font-family: "Aeonik";
    src: url("fonts/Aeonik-RegularItalic.woff2") format("woff2"),
      url("fonts/Aeonik-RegularItalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
  }
   
  
  /* light */
  @font-face {
    font-family: "Aeonik";
    src: url("fonts/Aeonik-Light.woff2") format("woff2"),
      url("fonts/Aeonik-Light.woff") format("woff");
    font-weight: 200;
    font-style: light;
  }

body::-webkit-scrollbar {
    width: 5px;
  }

  body::-webkit-scrollbar:hover {
    width: 8px;
  }
  
  
  body::-webkit-scrollbar-track {
    width: 50px;
    background-color: rgb(35, 34, 32);
    
  }
  body::-webkit-scrollbar-track:hover {
    width: 5px;
    
    
  }
  
  body::-webkit-scrollbar-thumb {
    background: rgb(102, 101, 99);
    border-radius: 25px;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  #ad-footer {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 90px;
    max-width: 728px; /* Google’s common ad width */
    margin: 0 auto; /* Centers the footer horizontally */
    background-color: #333;
    text-align: center;
    padding: 10px 0; /* Adds some spacing */
    z-index: 100; /* Ensures it stays above other content */
  }
  .scrollable::-webkit-scrollbar {
    width: 3px;
  }

  .scrollable::-webkit-scrollbar:hover {
    width: 8px;
  }
  
  
  .scrollable::-webkit-scrollbar-track {
    width: 3px;
    background-color: rgb(35, 34, 32);
    transition: background-color 2s ease-in-out;
  }
 .scrollable::-webkit-scrollbar-track:hover {
    width: 8px;
    background-color: antiquewhite;
    transition: background-color 2s ease-in;
  }
  
  .scrollable::-webkit-scrollbar-thumb {
    background: rgb(102, 101, 99);
  }
  
 .scrollable::-webkit-scrollbar-thumb:hover {
    background: #555;
  }




.left {
    display: block;
    height: 100%;
    width: fit-content;
}

.sheet {
    height: 100%;
    width: 100%;
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center the sidebar horizontally */
    align-items: center; /* Center the sidebar vertically */
}

#app {
    display: flex;
    position: relative;
}

.highlight {
    position: relative; 
    border: 2px solid #007bff; 
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
    border-radius: 24px;
    padding: 20px;
}

/* Tooltip styles */
.tooltip {
    position: absolute;
    background-color: antiquewhite;
    color: black;
    padding: 17px;
    border-radius: 5px;
    z-index: 1000;
    display: none; 
    max-width: 200px;
    word-wrap: break-word;
    letter-spacing: 1.2px;
}


.config{
    width: auto;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin-left: 80px;
    z-index: 1000;
    
}


.config-list {
    display: block !important;   /* Masonry works on block containers */
    position: relative;   
    width: auto;
    overflow: hidden;
  
}



.tile {
    background-color: #f1f1f1;
    padding: 15px;
    padding-right: 0;
    margin-bottom: 25px;
    border-radius: 8px;
    display: block;
    width: 200px;
    min-width: 100px;
    max-width: 200px; 
    max-height: fit-content;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    position: relative;
    
}

.tile-header {
    letter-spacing: 2px;
    font-size: 0.75em;
    margin-top:5px;
    margin-bottom: 5px;
    transition: transform 0.8s ease, margin 0.4s ease-in; 
    letter-spacing: 1px;
}


.tile:hover  .tile-header{
    margin-top: 0px ;
}




.tile strong {
    font-size: 0.98em;
    display: flex;
    margin-bottom: 5px;
}


.description-text {
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-line;
    text-justify: auto;
    text-wrap: break-word;
    font-size: 0.78em;
    margin: 8px 0px 0px 0px;
    transition: transform 0.8s ease, margin 0.4s ease-in; 
    letter-spacing: 1px;
}

.url-link{
    text-decoration: none;
    font-size: 0.78em;
    color: #000000;
}

.url-link:hover{
    text-decoration: underline;
    transition: text-decoration 2s ease-in-out;
}
.button-container{
    max-height: 0px;
    align-items: center;
    display: flex;
    visibility: hidden;
    justify-content: end;
    z-index: 1;
    opacity: 0;
    transition: max-height 0.8s ease, visibility 0.8s ease, opacity 0.8s ease;
}

.tile:hover .button-container {
    visibility: visible;
    max-height: 20px;
    z-index: 1;
    opacity: 1;
    margin-top: 2px;
    /* Smooth transition */
}

.choices {
   width: 100%;
    max-width: 100%;
    
    height:fit-content;
    min-height: 10px;
    display: flex;
    align-items: center !important;
    letter-spacing: 2px;
    
}



.choices__inner {
    min-height: 0px;
    max-width: 100%;
    font-size: 0.74em;

    
}

.choices.is-open {
    
    max-width: 100%;
}

.choices__list--dropdown {
 font-size: 0.74em;
}

.choices__list.choices__list--dropdown.is-active{

    letter-spacing: 00px;
}

#template-select + .choices .choices__inner {
    min-height: 40px;
    max-height: 40px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    font-size: 0.95rem;
    background-color: #fff;
    display: flex;
    align-items: center;
}

#template-select + .choices .choices__list--dropdown {
    max-height: 250px;
    overflow-y: auto;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.choices__item--disabled {
    font-weight: bold;
    background: #f3f3f3;
    padding: 8px 12px;
    border-bottom: 1px solid #eee;
    color: #444;
}



/* Delete button styles */
.tile .delete-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 13px;
    z-index: 1; 
 
}

.tile .edit-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 13px;
    z-index: 1; /
  
}

.tile .copy-button {
    
    background: none;
    border: none;
    cursor: pointer;
    font-size: 13px;
    z-index: 1; 
}

/* Hide the buttons by default */

.tile .delete-button,
.tile .edit-button, .tile .copy-button {
    visibility: hidden; 
    opacity: 0; 
    transition: visibility 0.9s, opacity 0.7s ease, fill 0.9s ease; 
}

/* Show the buttons when the tile is hovered */
.tile:hover .delete-button,
.tile:hover .edit-button, .tile:hover .copy-button {
    visibility: visible; 
    opacity: 1; /
    
    
}


.delete-button:hover {
    fill: rgb(247, 182, 182);
}


.edit-button:hover {
    animation: pencil 0.6s ease-in-out infinite;
    fill: #329dd3;
   
}
/* trashcan-animations */

.cls-1, .cls-3 {
    transform-origin: 100px 10px; /* Default: center of the SVG */
}

/* Animation to open the trash can on user hover */
.delete-button:hover .cls-1,.delete-button:hover .cls-3  {
    animation: delete 0.6s ease;
   }   

@keyframes delete {
    0% {
        transform: scale(1);
        
    }
    50% {   
        transform: scale(1.2);
        rotate: 25deg;          
    }
    100% {
        transform: scale(1);
    }
}   

/* Edit button styles */


@keyframes pencil {
    0% {
        rotate: 0deg;
    }
    50% {
        rotate: 10deg;
    }
    100% {
        rotate: 0deg;
    }
}


 /* Sidebar styles */
.sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    position: fixed; /* Make the sidebar fixed */
    left: 0; /* Align it to the left of the screen */
    top: 0; /* Start from the top */
    height:100%; 
    width: 260px;
    padding-left: 6px;
    padding-right: 10px;
    padding-top: 45px;
    padding-bottom: 70px;;
    background: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 25px;
    z-index:8000; /* Ensure it's above other elements */
    transition: transform 0.3s ease; /* Smooth transition for toggling */
    overflow:visible;
}

.sidebar.collapsed {
    transform: translateX(-100%); /* Hide the sidebar off-screen */
    
}

.scrollable {
height: 100%;
width: 103%;
overflow-y: auto;         
overflow-x: hidden;
margin-right:80%;
 
}





.sidebar-content {
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100%; /* Adjusted to fit the screen */
    padding-bottom: 30px;
    display: flex;
}

.sidebar-tab {
    position: fixed;
    left: 16px;
    top: 23px;
    cursor: pointer;
    background: none;
    color: #fff;
    border-radius: 50%;
    z-index: 9000;
}

#add-section, #add-entry, #load-template-btn, #clear-sheet-btn  {
    
    padding: 10px 16px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 12px;
    background-color: #1B998B;
    color: antiquewhite;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease,background-color 1s ease, color 1s ease, border 1s ease;
    cursor: pointer;
   

}

.custom-file-upload, #load-excel-btn, #download-btn, #save-btn,#load-google-btn, #save-google-btn {
    width: 33.3%;
    padding: 10px 16px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 12px;
    background-color: #1B998B;
    color: antiquewhite;
    letter-spacing: 0.8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease,background-color 1s ease, color 1s ease, border 1s ease;
    cursor: pointer;
    

}

#load-template-btn{
    width: 100%;
}

#hide-all-tiles-btn, #settings-btn, #helpbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 60px;
    padding: 10px 16px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 12px;
    margin-right: 3%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    
    background-color: #1B998B;
}

.button-row {
    display: flex;
    flex-direction: row;
    
    align-items: center;
    width: 100%;
}

#load-excel-btn > img, #load-google-btn > img {
    width: 17px;
    height: 17px;
}


#add-entry {
    margin-top: 0px;
    width: 90%;
}




.btn-label {
   display: inline-block;
    font-weight: 700;
    
    transition: transform 0.2s ease, box-shadow 0.2s ease,scale 0.2s ease-in;
}






/* Dialoghue box button styles */
#confirmBtn, #cancelBtn, #save-edit-btn, #saveSectionTitleBtn  {
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 15px;
    border-color: rgba(160, 143, 143, 0.225);
    box-shadow: none;
    background-color: #2E86AB;
    font-size: 1em;
    color: antiquewhite;
    font-weight: 700;
    transition: scale 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    width: 40%;
    letter-spacing: 1px;
}



#add-section {
    width: 100%;
}

#clear-sheet-btn {
    width: 90%;
    position: relative;
    margin-top: 20px;
    
    background-color: #AD343E;
    font-size: 1.2em;
    font-weight: 900;
    letter-spacing: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 160px;
    align-self: center;
}

#confirmBtn{
   margin-right: 45px;
}

#hide-all-tiles-btn:hover, #add-section:hover, #add-entry:hover, #download-btn:hover, #load-template-btn:hover, #clear-sheet-btn:hover, .custom-file-upload:hover, #confirmBtn:hover, #cancelBtn:hover, .btn-label:hover  {
   scale: 1.05;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}




.header {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    color: antiquewhite;
}

.settings-buttons {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}



#hide-all-tiles-btn > button > svg{
    width:22px;
    height:22px;
}

button .btn-label svg {
    width: 20px;  /* Set desired width */
    height: 20px; /* Set desired height */
    fill: #000000;   /* Set color if needed */
  }

#helpbtn .btn-label h1 {
    margin: 0;
    font-size: 1.4em;
    font-weight: 900;
}

.circular-toggle {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right:30px
  }
  
  .circular-toggle input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .circular-toggle input[type="checkbox"]:checked + .circle {
    background-color: #222; /* light bg when checked */
  }
  
  .circular-toggle input[type="checkbox"]:checked + .circle::after {
    transform: translate(-50%, -50%) scale(1.1);
    background-color: antiquewhite; /* dark inner dot when checked */
  }
  
  .circular-toggle .circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: antiquewhite; /* default dark bg */
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .circular-toggle .circle::after {
    content: '';
    width: 60%;
    height: 60%;
    background-color: #222; /* default light dot */
    border-radius: 50%;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) scale(0.8);
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  


.sections {
margin-top: 10px; 
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-items: flex-start;
justify-content: center;
align-content: center;
z-index: 1; /* Ensure it's above other elements */
}

#toggle-section-button, #toggle-add-form-button, #toggle-down-up-button, #toggle-templates-button {
    display: inline-block;
    margin-left: 10px; /* Space between header and triangle */
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #000; /* Color of the triangle */
    transition: transform 0.5s ease,border-top 2s ease; /* Smooth rotation */
}

#toggle-section-button.collapsed,#toggle-add-form-button.collapsed,#toggle-down-up-button.collapsed,#toggle-templates-button.collapsed {
    transform: rotate(-90deg); /* Rotate triangle when collapsed */
    border-top: 10px solid rgb(144, 144, 144); /* Color of the triangle */
}

.title-container {
 width: 80%;
 
 word-break: break-word;
   

}

#section-list li:hover .title-container.hover {
    transform: scale(1.05); /* Scale up the title on hover */
    transition: transform 0.3s ease; /* Smooth transition */
    width: 50%;
    text-overflow: ellipsis;    
    word-break: normal;
}


#section-list {
   overflow: visible;
    list-style: none;
    width: 90%;
    padding: 0;
    transition: max-height 0.3s ease, padding 0.3s ease, box-shadow 0.3s ease; /* Added padding transition */
    max-width: 250px; 
}

#section-list li {
    list-style: none;
    flex-grow: 1;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    border-radius: 15px;
    transition: transform 0.3s ease, background-color 0.3s ease,  font-weight 0.3s ease;
    font-size: 0.76em; /* Default font size */
    font-weight: 500;
    letter-spacing: 2px;
    word-wrap: break-word;
    justify-content: left;
    align-items: center;
    overflow: visible;
    z-index: 2000;

}



#section-list li.dragging {
    opacity: 0.5;
  }
  



#section-list  li span {
   color: #1b1b1b;
}

/* Hover effect: Enlarging the section on hover */
#section-list li:hover {
    transform: scale(0.96); /* Scale up by 10% */
    background-color: #e0e0e0; /* Change background on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.actions-container{
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: visbility 1s ease, opacity 1s ease;
}

#section-list li:hover > .actions-container {
    display: flex;
    opacity:1;
    visibility: visible;
    transition: visbility 1s ease, opacity 1s ease;
}

/* Ellipsis button style */
.ellipsis-button {
  color: inherit;
  font-size: 18px;
  padding: 4px;
  line-height: 1;
  border-radius: 4px;
  transition: background 0.15s ease;
}

.ellipsis-button:hover {
  background: rgba(0, 0, 0, 0.05);
}

/* Submenu container */
.section-submenu {
  display: none;
  flex-direction: column;
  gap: 4px;
  padding: 6px;
  width: 30px;

  border-radius: 6px;

  position: absolute;
  top: 40%;
  left:96%;
  z-index: 9000;
  min-width: 10px;
  overflow: visible;
  margin-left: 6px;
}

/* Each submenu button */
.section-submenu button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  transition: background 0.15s ease;
  
}

.section-submenu button:hover {
  background: rgba(0, 0, 0, 0.05);
}

/* SVG inside buttons */
.section-submenu button svg {
  pointer-events: none;
  width: 18px;
  height: 18px;
}



@keyframes wink {
    0%, 100% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(0.1);
    }
  }
  
  .eye-button svg:hover path {
    animation: wink 0.5s ease-in-out 2; /* 0.5s wink animation */
    transform-origin: center; /* Set the transform origin to the center of the path */
  }

.color-picker {
    display: inline-block; /* Align with other elements */
    position: relative; /* Allow positioning of child elements */
}

.color-picker input[type="color"] {
    width: 40px; /* Hide the actual input */
    height: 0; /* Hide the actual input */
    opacity: 0; /* Make it invisible but still functional */
    position: absolute; /* Position it so it's still clickable */
}

.color-display {
    width: 40px; /* Custom width */
    height: 40px; /* Custom height */
  
    border-radius: 5px; /* Optional: Rounded corners */
    cursor: pointer; /* Change cursor on hover */
   
    display: flex;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(137, 126, 126, 0.353);
}

.color-display:hover {
    scale: 1.1; /* Darker border on hover */
}

/* Change border color on hover */
.color-picker:hover .color-display {
    border-color: #888; /* Darker border on hover */
}


#section-color{
    border-radius: 8px; /* Adjusted to be more subtle */
    background-color: #de4848; /* Light background to match a clean UI */
    color: #333; /* Dark text for readability */
    border: 1px solid #ccc; /* A soft border that blends with the UI */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    font-size: larger;
}

#editColorDisplay {
    margin-top:16px;
    margin-bottom: 4px;
}

#section-list > li > button {
    background-color: rgba(214, 174, 174, 0.563); 
    box-shadow: #000000 ;/* No background */
    margin-right: 10px;
    cursor: pointer; /* Pointer cursor */
    font-size: 20px;
    padding:0px;
    
    
}

#section-list > li > button:active {
    background-color: rgba(214, 174, 174, 0.563); 
    box-shadow: #fae79f ;/* No background */
    margin-right: 10px;
    cursor: pointer; /* Pointer cursor */
    font-size: 20px;
    padding:0px;
    
    
}


 #newSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
 }

 #newSection.collapsed {
    display: none;
    
 }


/* ADD ENTRY SECTION */

#add-entry-form {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    padding: 0; /* No padding when collapsed */
}

#form-inputs {

width: 90%;
}

#form-inputs .choices {
    margin-bottom: 10px;
}

.add-entry-section {
    width: 100%;
    margin-top: 10px; /* Add margin to separate it from the section list */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
   
}

.add-entry-section.expanded #add-entry-form {
    max-height: 300px; /* Set this to a value that allows the form to be fully visible */
    padding: 10px; /* Add padding when expanded */
}




#section-name, #command {
    width: calc(100% - 20px); /* Full width with some padding */
    padding: 10px; /* Padding inside input fields */
    margin-bottom: 10px; /* Space between input fields */
    border: 1px solid #ccc; /* Light border */
    border-radius: 5px; /* Rounded corners */
    font-size: 0.78em; /* Font size */
}

#url {
    width: calc(100% - 20px); /* Full width with some padding */
    padding: 10px; /* Padding inside input fields */
    margin-bottom: 10px; /* Space between input fields */
    border: 1px solid #ccc; /* Light border */
    border-radius: 5px; /* Rounded corners */
    font-size: 0.78em; /* Font size */
}

#section-select {
    width: calc(100% - 0px); /* Full width with some padding */
    padding: 10px; /* Padding inside input fields */
    margin-bottom: 10px; /* Space between input fields */
   
    border: 1px solid #ccc; /* Light border */
    border-radius: 5px; /* Rounded corners */
    font-size: 1em; /* Font size */
    font-family: Aeonik;
    letter-spacing: 2px;
}

.ProseMirror {
    height: 120px;
    max-height: 120px;
    width:100%;
    outline: none;
    letter-spacing: 2px;
    background-color: #fff;
    overflow: auto;
    color: #000;
}

#editor{
    width: calc(100% - 20px);
    height: 120px;
    max-height: 120px;
    padding: 10px; /* Padding inside input fields */
    margin-bottom: 10px; /* Space between input fields */
    background-color: #ffffff;
    border: 1px solid #ccc; /* Light border */
    border-radius: 5px; /* Rounded corners */
    font-size: 0.78em; /* Font size */
    font-family: Aeonik;
    text-wrap: break-word;
    text-align: left;
}

#description, #editmodaleditor{
    width: 80%; /* Full width with some padding */
    max-width: calc(100% - 20px);
    
    height: 120px;
    max-height:110px ;
    padding: 10px; /* Padding inside input fields */
    margin-bottom: 10px; /* Space between input fields */
    background-color: #ffffff;
    border: 1px solid #ccc; /* Light border */
    border-radius: 5px; /* Rounded corners */
    font-size: 0.78em; /* Font size */
    font-family: Aeonik;
    text-wrap: break-word;
    text-align: left;
}

#form-inputs > div.ck.ck-reset.ck-editor.ck-rounded-corners > div.ck.ck-editor__main > div{
    
    margin-bottom: 10px; 
    font-size: 0.78em;
    height: 80px;
    max-height: 120px;
 
}

#editor > div > p, #editmodaleditor > div > p{
margin: 0px;
}


.down-up-section {
    margin-top: 10px; /* Add margin to separate it from the section list */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items:flex-start;
    justify-content: center;
    align-content: center;
    
}

#down-up-buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 90%;
     
}


label{
    text-align: center;
    display: inline-block;
    box-sizing: border-box;

}

#down-up-buttons.collapsed{
    display: none;
}

#upload-xlsx{
  display: none;

}

.custom-file-upload:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.templates-section{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
   
}

#template-form {
    display:block;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 90%;
    
}

#template-form.collapsed, #section-list.collapsed {
    display: none!important;
}

#form-inputs.collapsed  {
    display: none;
}

.open {
    margin-left: 290px;
    
}

.closed {
    margin-left: 50px;
   
}


.hidden {
transform: translateX(-100%);
}



/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.839); /* Black w/ opacity */
}

.modal-content {
    background-color: #222;
    color: antiquewhite;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    min-width: 400px;
    max-width: 900px;
    width: 30%; /* Could be more or less, depending on screen size */
    text-align: center;
    border-radius: 25px;
    transition: background-color 1s ease, color 1s ease, border 1s ease; /
}

#settingsModal  .modal-content {
    width: fit-content;
    min-width: 300px;
    max-width: 500px;
    min-height: 280px;
    height: fit-content;
   

}

.settings-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: end;
    border-radius: 25px;
    height: fit-content;
    gap: 40px;
    margin-top: 40px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* edit section title modal styles`*/
.edit-section-input-area {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 40%;
    
}



#sectionTitleInput {
    width: 40%;
    margin-bottom: 2%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 4%;
    border: 1px solid #ccc;
    font-size: 1em; /* Font size */
    letter-spacing: 2px;
}


/* Edit tile modal styles */

.modal-entry-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    text-align: center;
    border-radius: 25px;
}

#editModal input,
#editModal select {
    width: 80%;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    
    
}

#editModal textarea {
    height: 150px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#edit-description {
    max-height: 150px;
    max-width: calc(100% - 19px);
    min-width: none;
}

#editSectionModal > .modal-content > .color-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content > .color-picker {
    margin-top: 20px;
}


/* Feedback popup styles */



.feedback-popup {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    opacity: 0; /* Invisible by default */
    transition: opacity 0.3s ease;
}

.feedback-popup.show {
    display: block;
    opacity: 1; /* Make it visible */

}


.feedback-popup.success {
    background-color: #4caf50; /* Green for success */
}

.feedback-popup.warning {
    background-color: #ffc107; /* Yellow for warning */
}

.feedback-popup.error {
    background-color: #f44336; /* Red for error */
}

.feedback-popup.info{
    background-color: #7536f4; /* Red for error */
}

/* Text styles */

.header h1{
font-weight: 900;
font-size: 1.8em;
color: antiquewhite;
}

.section-header{
    margin-left: 20px;
}

.sections h2, .add-entry-section h2,.down-up-section h2, .templates-section h2{
    font-weight: 400;
    font-size: 1.1em;
    letter-spacing: 3px;
    color: antiquewhite;
}

h2{
    font-weight: 400;
    font-size: 1.3em;
    letter-spacing: 3px;
}


@media (max-width: 600px) {
    #ad-footer {
      max-width: 100%;
      width: 100%;
      height: 50px;
    }


  }
  

@media screen and (max-height: 1080px) {
    body {
      zoom: 0.86;
    }
}


@media screen and (min-height: 1300px) {
    body {
      zoom: 0.98;
    }
  }

/* 
@media screen and (max-height: 768px) {
  body {
    zoom: 0.56;
  }
}

@media screen and (min-height: 900px) {
    body {
      zoom: 0.66;
    }
  }

  @media screen and (min-height: 1080px) {
    body {
      zoom: 0.79;
    }
  }



/*

@media screen and (max-width:800px) {
    .open {
        margin-left: calc(0vw + 270px);
    }

    body {
        zoom: 0.96;
    }

}


@media screen and (min-width: 800px) {
    body {
        zoom: 0.93;
    }
}

@media screen and (min-width: 1080px) {
    body {
        zoom: 0.93;
    }
}

@media screen and (min-width: 1280px) {
    body {
        zoom: 0.93;
    }
 
}

@media screen and (min-width: 1366px) and (min-height: 768px) {
    body {
        zoom: 0.56;
    }
}

@media screen and (min-width: 1440px), (min-height: 900px) {
    body {
        zoom: 0.66;
    }
}

@media screen and (min-width: 1920px), (min-height: 1080px) {
    body {
        zoom: 0.79;
    }
}

@media screen and (min-width: 3386px), (min-height: 1289px) {
    body {
        zoom: 100%;
    }
}

@media screen and (min-width: 3840px), (min-height: 2160px) {
    body {
        zoom: 1.59;
    }

    #section-select, #template-select {
    zoom: 1;
    }
}
