body, html {
    font-family: Aeonik;
    background-color: #000000;
    height: 100%;
    zoom: 0.45;
}

/* CORE PAGE CSS */
/* FONTS +S CROLL BAR */
/* Regular */
@font-face {
    font-family: "Aeonik";
    src: url("fonts/Aeonik-Regular.woff2") format("woff2"),
      url("fonts/Aeonik-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
  
  /* Black */
  @font-face {
    font-family: "Aeonik";
    src: url("fonts/Aeonik-Black.woff2") format("woff2"),
      url("fonts/Aeonik-Black.woff") format("woff");
    font-weight: 800;
    font-style: normal;
  }
  
  /*Black Italic */
  @font-face {
    font-family: "Aeonik";
    src: url("fonts/Aeonik-BlackItalic.woff2") format("woff2"),
      url("fonts/Aeonik-BlackItalic.woff") format("woff");
    font-weight: 800;
    font-style: italic;
  }
  
  /* light */
  @font-face {
    font-family: "Aeonik";
    src: url("fonts/Aeonik-Light.woff2") format("woff2"),
      url("fonts/Aeonik-Light.woff") format("woff");
    font-weight: 200;
    font-style: normal;
  }

::-webkit-scrollbar {
    width: 3px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: antiquewhite;
    transition: background-color 2s ease-in-out;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(102, 101, 99);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.left {
    display: block;
    height: 100%;
    width: fit-content;
}

.sheet {
    height: 100%;
    width: 100%;
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center the sidebar horizontally */
    align-items: center; /* Center the sidebar vertically */
}

#app {
    display: flex;
    position: relative;
}

.highlight {
    position: relative; 
    border: 2px solid #007bff; 
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
    border-radius: 24px;
    padding: 20px;
}

/* Tooltip styles */
.tooltip {
    position: absolute;
    background-color: antiquewhite;
    color: black;
    padding: 17px;
    border-radius: 5px;
    z-index: 1000;
    display: none; 
    max-width: 200px;
    word-wrap: break-word;
    letter-spacing: 1.2px;
}


.tile {
    background-color: #f1f1f1;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    display: inline-block;
    width: 200px; 
    max-height: fit-content;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    position: relative;
    
}

.tile strong {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.tile p {
    font-size: 14px;
    margin: 5px 0;
    transition: transform 0.2s ease, margin 0.4s ease-in; 
}

.description-text {
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-line;
    text-justify: auto;
    text-wrap: break-word;
}



/* Delete button styles */
.tile .delete-button {
    position: absolute; /* Absolute positioning */
    top: 10px; /* Adjusted to be closer to the top */
    right: 10px; /* Adjusted to be closer to the right */
    background: none;
    border: none;
    cursor: pointer;
    font-size: 13px;
    z-index: 1; /* Ensure the button is above other elements */
    
    
}

.tile .edit-button {
    position: absolute; /* Absolute positioning */
    top: 10px; /* Adjusted to be closer to the top */
    right: 50px; /* Position it to the left of the delete button */
    background: none;
    border: none;
    cursor: pointer;
    font-size: 13px;
    z-index: 1; /* Ensure the button is above other elements */
  
}

.tile .copy-button {
    position: absolute; /* Absolute positioning */
    top: 10px; /* Adjusted to be closer to the top */
    right: 85px; /* Position it to the left of the delete button */
    background: none;
    border: none;
    cursor: pointer;
    font-size: 13px;
    z-index: 1; /* Ensure the button is above other elements */
  
}

/* Hide the buttons by default */
.tile .delete-button,
.tile .edit-button, .tile .copy-button {
    visibility: hidden; /* Hide buttons */
    opacity: 0; /* Optional: Make them fully transparent */
    transition: visibility 0.9s, opacity 0.7s ease, fill 0.9s ease; /* Smooth transition */
}

/* Show the buttons when the tile is hovered */
.tile:hover .delete-button,
.tile:hover .edit-button, .tile:hover .copy-button {
    visibility: visible; /* Show buttons */
    opacity: 1; /* Make them visible */
}


.tile .delete-button:hover {
    fill: red;
}


.edit-button:hover {
    animation: pencil 0.6s ease-in-out infinite;
    fill: #329dd3;
   
}
/* trashcan-animations */

.cls-1, .cls-3 {
    transform-origin: 100px 10px; /* Default: center of the SVG */
}

/* Animation to open the trash can on user hover */
.tile .delete-button:hover .cls-1, .tile .delete-button:hover .cls-3 {
    animation: delete 0.6s ease;
   }   

@keyframes delete {
    0% {
        transform: scale(1);
        
    }
    50% {   
        transform: scale(1.2);
        rotate: 25deg;          
    }
    100% {
        transform: scale(1);
    }
}   

/* Edit button styles */


@keyframes pencil {
    0% {
        rotate: 0deg;
    }
    50% {
        rotate: 10deg;
    }
    100% {
        rotate: 0deg;
    }
}


 /* Sidebar styles */
.sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: fixed; /* Make the sidebar fixed */
    left: 0; /* Align it to the left of the screen */
    top: 0; /* Start from the top */
    height: 100%; /* Make it fill the height of the screen */
    width: 250px;
    padding: 20px;
    padding-top: 45px;
    background: antiquewhite;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px; /* Remove any border-radius */
    z-index: 10; /* Ensure it's above other elements */
    transition: transform 0.3s ease; /* Smooth transition for toggling */
    overflow-x: scroll;
    margin-bottom: 20px;
}


.sidebar-tab {
    position: fixed;
    left: 10px;
    top: 20px;
    cursor: pointer;
    background: #fff;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

#hide-all-tiles-btn, #add-section, #add-entry, #download-btn, #load-template-btn, #clear-sheet-btn,  .custom-file-upload, #confirmBtn, #cancelBtn, #save-edit-btn, #saveSectionTitleBtn  {
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 15px;
    border-color: rgba(160, 143, 143, 0.225);
    box-shadow: none;
    background-color: #329dd3;
    font-size: 1em;
    color: antiquewhite;
    font-weight: 700;
    transition: scale 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

#clear-sheet-btn {
    margin-bottom: 40px;
    background-color: #f03;
    font-size: 1.2em;
    font-weight: 700;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#hide-all-tiles-btn, #add-section, #add-entry, #download-btn, #load-template-btn, #clear-sheet-btn, .custom-file-upload:hover, #confirmBtn:hover, #cancelBtn:hover  {
   scale: 1.05;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

#hide-all-tiles-btn{
    margin-top: 35px;
}


.sections {
margin-top: 15px; /* Add margin to separate it from the section list */
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-items: center;
justify-content: center;
align-content: center;
   
}

#toggle-section-button, #toggle-add-form-button, #toggle-down-up-button, #toggle-templates-button {
    display: inline-block;
    margin-left: 10px; /* Space between header and triangle */
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #000; /* Color of the triangle */
    transition: transform 0.5s ease,border-top 2s ease; /* Smooth rotation */
}

#toggle-section-button.collapsed,#toggle-add-form-button.collapsed,#toggle-down-up-button.collapsed,#toggle-templates-button.collapsed {
    transform: rotate(180deg); /* Rotate triangle when collapsed */
    border-top: 15px solid #f03; /* Color of the triangle */
}


#section-list {
    list-style: none;
    width: calc(100% - 10px);
    padding: 0;
    transition: max-height 0.3s ease, padding 0.3s ease, font-size 0.3s ease, box-shadow 0.3s ease; /* Added padding transition */
    overflow: hidden;
    max-width: 250px;
    border-radius: 5px;
}

#section-list li {
    list-style: none;
    padding: 10px;;
    margin-bottom: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease, font-size 0.3s ease, font-weight 0.3s ease;
    font-size: 13px; /* Default font size */
    font-weight: 400;
    letter-spacing: 2px;
    word-wrap: break-word;
    
}

#section-list > li > span {
    margin-left: 20px;
    max-width: 180px;
    
}

/* Hover effect: Enlarging the section on hover */
#section-list li:hover {
    transform: scale(0.9); /* Scale up by 10% */
    background-color: #e0e0e0; /* Change background on hover */
    
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Initially hide the buttons */
li .eye-button, li .edit-button {
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; /* Smooth transition */
  }
  
  /* Show buttons on hover over the list item */
  li:hover .eye-button, li:hover .edit-button {
    opacity: 1;
  }

@keyframes wink {
    0%, 100% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(0.1);
    }
  }
  
  .eye-button svg:hover path {
    animation: wink 0.5s ease-in-out 2; /* 0.5s wink animation */
    transform-origin: center; /* Set the transform origin to the center of the path */
  }

.color-picker {
    display: inline-block; /* Align with other elements */
    position: relative; /* Allow positioning of child elements */
}

.color-picker input[type="color"] {
    width: 40px; /* Hide the actual input */
    height: 0; /* Hide the actual input */
    opacity: 0; /* Make it invisible but still functional */
    position: absolute; /* Position it so it's still clickable */
}

.color-display {
    width: 40px; /* Custom width */
    height: 40px; /* Custom height */
  
    border-radius: 5px; /* Optional: Rounded corners */
    cursor: pointer; /* Change cursor on hover */
   
    display: flex;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.color-display:hover {
    scale: 1.1; /* Darker border on hover */
}

/* Change border color on hover */
.color-picker:hover .color-display {
    border-color: #888; /* Darker border on hover */
}


#section-color, #editSectionColorInput{
    border-radius: 8px; /* Adjusted to be more subtle */
    background-color: #de4848; /* Light background to match a clean UI */
    color: #333; /* Dark text for readability */
    border: 1px solid #ccc; /* A soft border that blends with the UI */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    font-size: larger;
}

#section-list > li > button {
    background-color: rgba(214, 174, 174, 0.563); 
    box-shadow: #000000 ;/* No background */
    margin-right: 10px;
    cursor: pointer; /* Pointer cursor */
    font-size: 20px;
    padding:0px;
    
    
}

#section-list > li > button:active {
    background-color: rgba(214, 174, 174, 0.563); 
    box-shadow: #fae79f ;/* No background */
    margin-right: 10px;
    cursor: pointer; /* Pointer cursor */
    font-size: 20px;
    padding:0px;
    
    
}


 #newSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 #newSection.collapsed {
    display: none;
    
 }


/* ADD ENTRY SECTION */

#add-entry-form {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    padding: 0; /* No padding when collapsed */
}

#form-inputs {

width: 100%;
}

.add-entry-section {
    margin-top: 10px; /* Add margin to separate it from the section list */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
   
}

.add-entry-section.expanded #add-entry-form {
    max-height: 300px; /* Set this to a value that allows the form to be fully visible */
    padding: 10px; /* Add padding when expanded */
}




#section-name, #command {
    width: calc(100% - 20px); /* Full width with some padding */
    padding: 10px; /* Padding inside input fields */
    margin-bottom: 10px; /* Space between input fields */
    border: 1px solid #ccc; /* Light border */
    border-radius: 5px; /* Rounded corners */
    font-size: 1em; /* Font size */
}

#section-select, #template-select {
    width: calc(100% - 0px); /* Full width with some padding */
    padding: 10px; /* Padding inside input fields */
    margin-bottom: 10px; /* Space between input fields */
    border: 1px solid #ccc; /* Light border */
    border-radius: 5px; /* Rounded corners */
    font-size: 1em; /* Font size */
    font-family: Aeonik;
}


#description{
    width: calc(100% - 20px); /* Full width with some padding */
    max-width: calc(100% - 20px);
    min-width: calc(100% - 20px);
    max-height:120px ;
    padding: 10px; /* Padding inside input fields */
    margin-bottom: 10px; /* Space between input fields */
    border: 1px solid #ccc; /* Light border */
    border-radius: 5px; /* Rounded corners */
    font-size: 1em; /* Font size */
    font-family: Aeonik;
    text-wrap: break-word;
}


.down-up-section {
    margin-top: 10px; /* Add margin to separate it from the section list */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#down-up-buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
     
}

#down-up-buttons.collapsed{
    display: none;
}

#upload-xlsx{
  display: none;

}

.custom-file-upload:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.templates-section{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
   
}

#template-form {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#template-form.collapsed {
    display: none;
}

.collapsed {
    display: none ;
}

.open {
    margin-left: calc(0vw + 270px);
}


.hidden {
transform: translateX(-100%);
}


.config-list{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    align-items: center;
    justify-content: center;
    transition: margin-left 0.6s ease; /* Add transition for smooth movement */
}

.sidebar.open + .config-list {
    margin-left: 250px; /* Adjust this value to match the sidebar width */
}

.sidebar.closed + .config-list {
    margin-left: 0; /* Reset margin when sidebar is closed */
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 101; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.839); /* Black w/ opacity */
}



.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    text-align: center;
    border-radius: 25px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#editModal input,
#editModal textarea,
#editModal select {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    max-height: 150px;
    
}

#edit-description {
    max-height: 150px;
    max-width: calc(100% - 19px);
    min-width: none;
}

#editSectionModal > .modal-content > .color-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content > .color-picker {
    margin-top: 20px;
}

.feedback-popup {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50; /* Green for success */
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0; /* Invisible by default */
    transition: opacity 0.3s ease;
}


.feedback-popup {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0; /* Invisible by default */
    transition: opacity 0.3s ease;
}

.feedback-popup.show {
    display: block;
    opacity: 1; /* Make it visible */
}


.feedback-popup.success {
    background-color: #4caf50; /* Green for success */
}

.feedback-popup.warning {
    background-color: #ffc107; /* Yellow for warning */
}

.feedback-popup.error {
    background-color: #f44336; /* Red for error */
}

/* Text styles */

h1{
font-weight: 900;
}

h2{
    font-weight: 400;
    font-size: 1.3em;
    letter-spacing: 3px;
}

.tile:hover .tile-header{
    margin-top: 18px !important;
}

@media screen and (max-width:800px) {
    .open {
        margin-left: calc(0vw + 270px);
    }
}

@media screen and (max-width: 1920px) {
    body, html {
        zoom: 0.85;
    }
}